body {
  background-color: #4e5a5f;
  color: #ddd;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

.game {
  min-width: 334px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

button {
  background-color: #4e5a5f;
  border: 1px solid #3b4447a9;
  padding: 10px 50px;
  margin: 10px;
  outline: none;
}

.field {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.grid {
  width: 200px;
  height: 400px;
  min-width: 200px;
}

.grid div,
.next div {
  height: 18px;
  width: 18px;
  border: 1px solid #3b4447a9;
  position: relative;
  background-color: #4e5a5f;
}

.invisible {
  display: none;
}

.next {
  width: 80px;
  height: 80px;
  min-width: 80px;
}

.container {
  display: flex;
}

.tetramino {
  border-radius: 4px;
  position: relative;
}

.tetramino:before,
.tetramino:after {
  position: absolute;
  content: " ";
}

.tetramino:before {
  border: 2px solid white;
  border-width: 2px 2px 0 0;
  top: 2px;
  left: 6px;
  width: 10px;
  height: 5px;
  z-index: 2;
}

.tetramino:after {
  border: 1px solid rgb(245, 245, 245);
  border-radius: 3px;
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  z-index: 2;
}

.color0 {
  background-color: #bbdefb;
  background-image: linear-gradient(45deg, #42a5f5, #bbdefb);
}

.color1 {
  background-color: #90caf9;
  background-image: linear-gradient(45deg, #42a5f5, #90caf9);
}

.color2 {
  background-color: #64b5f6;
  background-image: linear-gradient(45deg, #42a5f5, #64b5f6);
}

.color3 {
  background-color: #42a5f5;
  background-image: linear-gradient(45deg, #42a5f5, #42a5f5);
}

.color4 {
  background-color: #b3e5fc;
  background-image: linear-gradient(45deg, #42a5f5, #b3e5fc);
}

.color5 {
  background-color: #81d4fa;
  background-image: linear-gradient(45deg, #42a5f5, #81d4fa);
}

.color6 {
  background-color: #4fc3f7;
  background-image: linear-gradient(45deg, #42a5f5, #4fc3f7);
}

.colorInactive {
  background-color: #386880;
  background-image: linear-gradient(45deg, #386880, #639ab6);
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: #00000055;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

.burn {
  background-color: #fa9107;
  background-image: linear-gradient(45deg, #eed12b, #e26c0b);
}
